/* DARK MODE */

@media (prefers-color-scheme: dark) {
    body {
        color: white;
    }      
    
    a:link {
        color: #01c4fb;
    }
    
    a:visited {
        color: #0180e7;
    }

    a:hover {
        color: #a9e7ff;
    }

    body, div {
        background-color: #121c2c;
    }

    table, th, td {
    border: 1px solid rgb(98, 156, 204);
    border-collapse: collapse;
    padding: 5px;
    }

    .navbar {
    background-color: #0c1218e3;
    }
}

/* LIGHT MODE */

@media (prefers-color-scheme: light) {
    a:link {
        color: #0079ca;
    }
    
    a:visited {
        color: #005296;
    }

    a:hover {
        color: #002958;
    }
    body {
        color: black;
    }

    body, div {
        background-color: white;
    }

    table, th, td {
    border: 1px solid rgb(70, 149, 196);
    border-collapse: collapse;
    padding: 5px;
    }

    .navbar {
    background-color: #c2e2ffc5;
    }
}

/* COMMON */ 

body {
    font-family: Roboto,arial,sans-serif;
}

h1, h2 {
    font-family: Roboto,arial,serif;
}

.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
}

.main {
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

/* offsets anchor tags relative to fixed navbar */
:target {
    display: block;    
    position: relative;     
    top: -150px;
    visibility: hidden;
}