/* DARK MODE */

@media (prefers-color-scheme: dark) {
  body {
      color: white;
  }

  a:link {
    color: #01c4fb;
  }

  a:visited {
      color: #0180e7;
  }

  a:hover {
      color: #a9e7ff;
  }

  body, div {
      background-color: #121c2c;
  }

  table, th, td {
    border: 1px solid  rgb(98, 156, 204);;
    border-collapse: collapse;
    padding: 5px;
  }

  .navbar {
    background-color: #0c1218;
    border-bottom: solid;
  }

  .child2 {
    border-left: 1px solid #0c1218;
  }
}

/* LIGHT MODE */

@media (prefers-color-scheme: light) {
  a:link {
    color: #0079ca;
  }
  
  a:visited {
    color: #005296;
  }

  a:hover {
    color: #002958;
  }
  
  body {
      color: black;
  }

  body, div {
      background-color: white;
  }

  table, th, td {
    border: 1px solid rgb(70, 149, 196);
    border-collapse: collapse;
    padding: 5px;
  }

  .navbar {
    background-color: #c2e2ff;
    border-bottom: solid;
  }

  .child2 {
    border-left: 1px solid #0c1218;
  }
}

/* COMMON */

body {
  font-family: Roboto,arial,sans-serif;
  margin: 0;
}

h1, h2 {
  font-family: Roboto,arial,serif;
}

.navbar {
  position: relative;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
}

.main {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

table, th, td {
    border: 0px solid black;
    border-collapse: collapse;
    padding: 5px;
    width: 100%;
}

tr {
  height: 60px;
}

td {
  width: 20%;
}

.parent {
  text-align: center;
}

.child1 {
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: top;
  width: 45%;
}

.child2 {
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: top;
  width: 45%;
}